.carousel {
    background: #EEE;
  }
  
.carousel-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36%;
    height: 300px;
    margin-right: 32px;
    background: rgba(239, 248, 254, 1);
    border-radius: 15px;
    counter-increment: gallery-cell;
  }

.img_carousel{
    width: 72px;
    height: 72px;
    border-radius: 50%;
}

.card_carrousel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;

}

.image_carousel{
    width: 200px;
}

@media (max-width: 900px){
    .carousel-cell{
      width: 76%;  
    }
}

