.titulo__principal{
    font-family: var(--texto);
    font-weight: 900;
    font-size: 48px;
}

.titulo__subtitulo{
    font-family: var(--texto);
    font-weight: 600;
    font-size: 24px;
}

.texto{
    font-family: var(--texto);
    font-weight: 400;
    font-size: 24px;
}

.card{
    width: 300px;
    height: 300px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 8px;
    gap: 8px;
    box-shadow: 
    10.1px 10.1px 2.2px rgba(0, 0, 0, 0.01),
    20.6px 20.6px 5.3px rgba(0, 0, 0, 0.047),
    32.7px 32.7px 10px rgba(0, 0, 0, 0.063),
    48.5px 48.5px 17.9px rgba(0, 0, 0, 0.068),
    70.4px 70.4px 33.4px rgba(0, 0, 0, 0.07),
    100px 100px 80px rgba(0, 0, 0, 0.07)
  ;
}

.center{
    text-align: center;
}

.justificado{
    text-align: justify;
}

.textoFooterTitulo{
    font-family: var(--texto);
    font-weight: 900;
    font-size: 18px;
    color: white;
}

.textoFooter{
    font-family: var(--texto);
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.titulo_logo_footer{
    font-family: var(--texto-logo);
    color: white;
    font-size: 24px;
}

.titulo__logo{
    font-family: var(--texto-logo);
    color: black;
    font-size: 24px;
    font-weight: 900;
}